/* Colors and fonts */
body {
  background:#ecf7e9;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e1717;
  font-size: 17px;
  line-height: 1.25;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #2e1717;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #D67AB1;
  font-size: 24px;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  color: #60435F;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: #9a9ed3;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  display: inline-block;
  background-color: #6B72E1;
  color: rgb(235, 234, 238);
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 10px;
}

li {
  display: inline;
  padding: 0px 20px;
}

li > a {
  font-size: 75px;
}

#mes-reseaux-sociaux {
  padding: 2px 2px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
